
ENVIRONMENT = "local"


BASE_URL = "https://tms51.nepsetms.com.np" # base url of your broker update 51 with your broker number



# === YOUR TMS CREDENTIALS ===
NAME = "John Doe"
ID = 123456
PHONE_NUMBER = "9812345678"
CLIENT_CODE="123465789" # tms client code
PASSWORD="password" # tms password
NOT_UNIQUE_CLIENT_CODE = "234234234234" # not unique client code


# === STATIC FROM (rarely change) ===
CLIENT_ID=123234  # client code
REQUEST_OWNER=123456 # request owner id 
MEMBER_CODE=51          # TMS Broker Code






# === CAP Monster API Keys ===

API_KEY = 'your cap monster api key'
URL = "https://api.capmonster.cloud"



# === DISCORD Keys ===
DISCORD_TOKEN = "discord token"
DISCORD_USER_ID = "your discord user id"